<app-header-registrado></app-header-registrado>
<div class="container mt-5">
    <div class="back">
      <button type="button" class="btn btn-primary" (click)="irAUserDash()">Volver</button>
    </div>
    <h2>Formulario para la Guardería</h2>
    <form>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="name" placeholder="Ingrese el nombre de su mascota" [(ngModel)]="mascota.name"
          name="name">
      </div>
      <div class="form-group">
        <label for="apellidos">Edad:</label>
        <input type="number" class="form-control" id="age" placeholder="Ingrese la edad de su mascota"
          [(ngModel)]="mascota.age" name="age">
      </div>
      <div class="form-group">
        <label for="correo">Raza:</label>
        <input type="text" class="form-control" id="breed" placeholder="Ingrese la raza de su mascota"
          [(ngModel)]="mascota.breed" name="breed">
      </div>
      <div class="form-group">
        <label for="contrasena">Dias de estancia:</label>
        <input type="text" class="form-control" id="stayDays" placeholder="Ingrese los dias que va a dejar su mascota"
          [(ngModel)]="mascota.stayDays" name="stayDays ">
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary me-2" (click)="crearMascota()">Mandar Formulario</button>
      </div>
    </form>
  </div>
  
  <div id="myModal1" class="modal" [ngClass]="{'show': isModalCerrar}">
    <div class="modal-content">
      <span class="close" (click)="closeModalCerrar(); irAUserDash()">&times;</span>
      <div class="check-animation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle cx="26" cy="26" r="25" fill="none" />
          <path fill="none" stroke="#ffffff" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
            d="M14 27l5 5 14-14" class="check-svg" />
        </svg>
      </div>
      <p>Se ha realizado la acción satisfactorimente</p>
      <button class="btnCerrar" (click)="closeModalCerrar(); irAUserDash()">Cerrar</button>
    </div>
  </div>