.footer {
    display: flex;
    position: fixed;
    bottom: 0%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
  
  }
  

  
  .center {
    flex-grow: 1;
    text-align: center;
  }
  
  .right {
    display: flex;
    justify-content: flex-end;
  }
  
  .right i {
    margin-left: 10px;
  }
  