.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
  }
  
  .left {
    margin-left: 2%;
  }
  
  .left img {
    width: 75px;
  }
  
  .center {
    flex-grow: 1;
    text-align: center;
  }
  
  .right {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
  }
  
  .right img {
    height: 35px;
    width: 35px;
  }