<div class="register">
    <form class="custom-form" method="post">
      <h1>Formulario de Registro</h1>
      <input
        type="text"
        [(ngModel)]="nombre"
        name="firstName"
        placeholder="Nombre"
        required="required"
      />
      <input
        type="text"
        [(ngModel)]="apellidos"
        name="lastName"
        placeholder="Apellidos"
        required="required"
      />
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <button type="submit" (click)="register()">Registrarse</button>
    </form>
  </div>
  